<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://192.168.200.6:3306/azcontrole</property>
        <property name="hibernate.connection.username">aptech</property>
        <property name="hibernate.connection.password">Aptech2016</property>
        <!-- DB schema will be updated if needed -->
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <!-- Sessão -->
        <property name="hibernate.current_session_context_class">
            org.hibernate.context.internal.ThreadLocalSessionContext
        </property>
        <!-- SQL Dialeto -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <!-- Cache de segundo Nivel -->
        <property name="hibernate.cache.provider_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>
        <!-- Mostra as SQLs geradas -->
        <property name="show_sql">true</property>
        <!-- Mapeamento de Entidades -->
        <mapping class="br.com.nfsconsultoria.azcontrole.domain.Cliente"/>
        <mapping class="br.com.nfsconsultoria.azcontrole.domain.Fornecedor"/>
        <mapping class="br.com.nfsconsultoria.azcontrole.domain.Lote"/>
        <mapping class="br.com.nfsconsultoria.azcontrole.domain.Produto"/>
        <mapping class="br.com.nfsconsultoria.azcontrole.domain.Venda"/>
        <mapping class="br.com.nfsconsultoria.azcontrole.domain.Vendedor"/>       
    </session-factory>
</hibernate-configuration>
